.wrapper {
    @apply bg-contain bg-no-repeat bg-[url(/backdrop.jpg)] h-svh w-full flex-1 flex flex-col;
    .formWrapper {
        @apply bg-white p-8 pb-12 rounded-b-none lg:rounded-b-[2.4rem] rounded-[2.4rem] shadow-2xl w-full flex flex-col justify-center text-center;
        .leaf {
            @apply bg-center mx-auto h-8 w-8 mb-8 mt-2 bg-contain bg-no-repeat bg-[url(/leaf.svg)];
        }
        .formTitle {
            @apply pb-2;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: 0.01em;
        }
        .formInfo {
            @apply text-neutral-400;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
}